＃booksページ
<% if @book.errors.any? %>
  <%= @book.errors.count %>erro prohibited this obj from being saved:
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
 <% end %>
  
<h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
     <tr>
      <th>name   <%= @user.name %></th>
     </tr>
     <tr>
      <th>introduction <%= @user.name%></th>
     </tr>
    </tbody>
  </table>  

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集画像を入れてね", edit_user_path(@user) %></p>
  <% end %>
 
<h2>New Book</h2>
  <%= form_with model: @book,url: '/books', method: :post do |f| %>
   <div class="form-group">
    <label for ="book_title">Titele</label><br>
    <%= f.text_field :title %>
   </div>
   <div class="form-group">
    <label for ="book_opinion">Opinion</label><br>
      <%= f.text_area :body %>
    </div> 
    <div class="form-group">
    <%= f.submit 'Create Book' %>
    </div>
  <% end %>
  
<h2>Books</h2>
<table class="table table-hover table-inverse">
  <thead>
   <tr>
     <th></th>
     <th>Title</th>
     <th>Opinion</th>
     <th colspan="3"></th>
    </tr>
  </thead>
  <% @books.each do |book|%>
  <tbody>
   <tr>
    <td><%= image_tag @user.get_profile_image(100,100) %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
   </tr>
  </tbody>
  <% end %>
</table>
  
