#create book遷移ページ

<h1>User info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name   <%= @user.name %></h3>
  <h3>introduction <%= @user.name%></h3>
  
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集画像を入れてね", edit_user_path(@user) %></p>
  <% end %>



<h1>New book</h1>
  <%= form_with model: @book,url: '/books', method: :post do |f| %>
   <h4>Titele</h4>
    <%= f.text_field :title %>
   <h4>Opinipn</h4>
    <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
  <% end %>

<h1>Book detail</h1>

<div>

  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= @book.user.name %></p>
  <p>Title <%= @book.title %></p>
  <p>Opinion<%= @book.body %></p>
  
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book.id)%>
    <%= button_to "destroy", book_path(@book.id),method: :delete,"data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>

