#create book遷移ページ

<h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
     <tr>
      <th>name   <%= @user.name %></th>
     </tr>
     <tr>
      <th>introduction <%= @user.name%></th>
     </tr>
    </tbody>
  </table>  

  
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集画像を入れてね", edit_user_path(@user) %></p>
  <% end %>

<h2>New Book</h2>
  <%= form_with model: @book,url: '/books', method: :post do |f| %>
   <div class="form-group">
    <label for ="book_title">Titele</label><br>
    <%= f.text_field :title %>
   </div>
   <div class="form-group">
    <label for ="book_opinion">Opinion</label><br>
      <%= f.text_area :body %>
    </div> 
    <div class="form-group">
    <%= f.submit 'Create Book' %>
    </div>
  <% end %>


<h2>Book detail</h2>
 <table class="table">
  <tbody>
   <tr>
    <td>
      <%= image_tag @user.get_profile_image(100,100) %>
      <%= link_to @book.user.name %>
    </td>
    <td><%= link_to @book.title %></td>
    <td><%= @book.body %></td>
  
    <% if @book.user == current_user %>
     <td><%= link_to "edit", edit_book_path(@book.id)%></td>
     <td><%= button_to "destroy", book_path(@book.id),method: :delete,"data-confirm" => "本当に削除しますか？" %></td>
    <% end %>
    </tr>
  </tbody>
  </table>

